../../../../.bash_history
        ../../../../.gitconfig
        ../../../../.ipython/
        ../../../../.lesshst
        ../../../../.metadata/
        ../../../../.node_repl_history
        ../../../../.quokka/
        ../../../../.vec/
        ../../../../.viminfo
        ../../../../.vscode/argv.json
        ../../../../.vscode/extensions/
        ../../../../3D Objects/
        ../../../../AppData/
        ../../../../Contacts/
        ../../../As400 y Rpg iv/
        ../../../Books/
        ../../../Client Access/
        ../../../Facturacion.lnk
        ../../../IBM AS400 Client 7.1.zip
        ../../../IBM AS400 Client 7.1/
        ../../../Imagenes+Ecommerce/
        ../../../Jimenosa-Fact.-main/
        ../../../New folder/
        ../../../Sistema/
        ../../../Visual Studio Code.lnk
        ../../Curso Programacion web/
        ../LateralOnline-main/
        ../../../cas1P3.SW3
        ../../../code.png
        ../../../desktop.ini
        ../../../git-bash - Shortcut.lnk
        ../../../pcsws - Shortcut.lnk
        ../../../primerProyecto/
        ../../../stock 1.csv
        ../../../../Documents/
        ../../../../Downloads/
        ../../../../Favorites/
        ../../../../IntelGraphicsProfiles/
        ../../../../Links/
        ../../../../Music/
        ../../../../NTUSER.DAT
        ../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf
        ../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms
        ../../../../NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms
        ../../../../OneDrive/
        ../../../../Pictures/
        ../../../../Saved Games/
        ../../../../Searches/
        ../../../../Videos/
        ../../../../node_modules/
        ../../../../ntuser.dat.LOG1
        ../../../../ntuser.dat.LOG2
        ../../../../ntuser.ini
        ../../../../package-lock.json
        ../../../../package.json
